@using HatunSearch.PartnersWeb.Controllers;
@using HatunSearch.PartnersWeb.Globalization;
@using HatunSearch.PartnersWeb.Helpers;
@model ManagementAccountController.EditCredentialsDTO
@{
	Layout = "~/Views/Management/Layout.cshtml";
	LocalizationProvider localization = ViewBag.LocalizationProvider as LocalizationProvider;
	string changePassword = localization["ChangePassword"], update = localization["Update"], youWillGetAnEmailNotificationAboutThisAction = localization["YouWillGetAnEmailNotificationAboutThisAction"];
	ViewBag.Title = changePassword;
	ViewBag.AdditionalStylesheets = new string[] { "Management", "ManagementAccount.EditCredentials" };
	ViewBag.IsBackButtonEnabled = true;
	ViewBag.PreviousPage = Url.Action("MyProfile");
}
<md:dialog isFullScreen="false" type="confirmation">
	<form action="@Url.Action("EditCredentials")" method="post">
		<md:dcontentarea>
			<md:h6>@changePassword</md:h6>
			@Html.MakeTextfield(MaterialHtmlHelperExtensions.MaterialTextfieldType.Filled, model => model.CurrentPassword)
			@Html.MakeTextfield(MaterialHtmlHelperExtensions.MaterialTextfieldType.Filled, model => model.NewPassword)
			<md:paper>
				<md:image>
					<svg viewBox="0 0 24 24">
						<path d="M20,8L12,13L4,8V6L12,11L20,6M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z" />
					</svg>
				</md:image>
				<md:caption>@youWillGetAnEmailNotificationAboutThisAction</md:caption>
			</md:paper>
		</md:dcontentarea>
		<md:dactionarea alignment="horizontal">
			<md:dbutton>
				<button>@update</button>
			</md:dbutton>
		</md:dactionarea>
	</form>
</md:dialog>