@using HatunSearch.Entities;
@using HatunSearch.PartnersWeb.Globalization;
@using HatunSearch.PartnersWeb.Helpers;
@model PartnerCredentialDTO
@{
	Layout = "~/Views/Layout.cshtml";
	LocalizationProvider localization = ViewBag.LocalizationProvider as LocalizationProvider;
	string createANewAccount = localization["CreateANewAccount"], login = localization["Login"], logIntoYourAccount = localization["LogIntoYourAccount"], partnersArea = localization["PartnersArea"];
	ViewBag.Title = logIntoYourAccount;
	ViewBag.AdditionalStylesheets = new string[] { "Accounts", "Accounts.Login" };
}
<video src="~/mp4/Accounts.Login.mp4" autoplay loop muted></video>
<md:scrim isOpened="true">
	<md:dialog isFullScreen="false" type="confirmation">
		<form action="@Url.Action("Login")" method="post">
			<md:dcontentarea>
				<img src="~/png/Logo_361x86.png" />
				<md:h6>@logIntoYourAccount</md:h6>
				<md:subtitle2>@partnersArea</md:subtitle2>
				@Html.MakeTextfield(MaterialHtmlHelperExtensions.MaterialTextfieldType.Filled, model => model.Username, Model?.Username)
				@Html.MakeTextfield(MaterialHtmlHelperExtensions.MaterialTextfieldType.Filled, model => model.Password)
				<md:caption>
					<a href="@Url.Action("Signup")">@createANewAccount</a>
				</md:caption>
			</md:dcontentarea>
			<md:dactionarea alignment="horizontal">
				<md:dbutton>
					<button>@login</button>
				</md:dbutton>
			</md:dactionarea>
		</form>
	</md:dialog>
</md:scrim>