@using HatunSearch.PartnersWeb;
@{
	string title = ViewBag.Title as string;
	IEnumerable<string> additionalStylesheets = ViewBag.AdditionalStylesheets as IEnumerable<string>, additionalScripts = ViewBag.AdditionalScripts as IEnumerable<string>,
		externalScripts = ViewBag.ExternalScripts as IEnumerable<string>;
	bool addAScrim = ViewBag.AddAScrim as bool? ?? false;
	string language = ViewBag.CurrentLanguage as string, languageCategory = WebApp.LanguageCategory, primaryColor = WebApp.PrimaryColor, secondaryColor = WebApp.SecondaryColor, theme = WebApp.Theme;
}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="theme-color" content="#303F9F" />
		<title>@title | Hatun Search</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width" />
		<link href="~/png/Icon_256x256.png" rel="shortcut icon" />
		<link href="~/css/MaterialDesign.css" rel="stylesheet" />
		@if (additionalStylesheets != null) { foreach (string additionalStylesheet in additionalStylesheets) { <link href="~/css/@(additionalStylesheet).css" rel="stylesheet" /> } }
		<script src="~/js/MaterialDesign.js"></script>
		<script src="~/js/PartnersWeb.js"></script>
		@if (additionalScripts != null) { foreach (string additionalScript in additionalScripts) { <script src="~/js/@(additionalScript).js"></script> } }
		@if (externalScripts != null) { foreach (string externalScript in externalScripts) { <script src="@externalScript"></script> } }
	</head>
	<body>
		@if (!addAScrim)
		{
			<md:app languageCategory="@languageCategory" primarycolor="@primaryColor" secondaryColor="@secondaryColor" theme="@theme">
				@RenderBody()
			</md:app>
		}
		else
		{
			<md:app languageCategory="@languageCategory" primarycolor="@primaryColor" secondaryColor="@secondaryColor" theme="@theme">
				<md:scrim isOpened="true">
					@RenderBody()
				</md:scrim>
			</md:app>
		}
		<script>MaterialDesign.Start("@language");</script>
	</body>
</html>